* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.container-grid {
    max-width: 1200px;
    width: 95%; /* Adicionado para garantir margens adequadas em telas maiores */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background-color: yellow;
    height: 70px;
    box-shadow: 5px 5px 5px #000;
    margin-bottom: 50px;
}

.menu-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-left: 100px;
}

.search-box button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin-left: 150px;
    cursor: pointer;
}
.search-box button {
    margin-left: 100px;
}

.texto-centro {
    margin-top: 20px;
}

.caixa {
    margin-left: 10px;
}
.menu {
    margin-left: 20px;
}

.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 80px;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .menu-search {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-box {
        margin-top: 10px;
    }

    .search-box input[type="text"] {
        width: 100%;
        margin-left: 0;
    }

    .menu {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #333;
    font-size: 24px;
}

.contact-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 3px solid #000;
    border-radius: 10px;
    margin-top: 50px;
}

label {
    display: block;
    color: #333;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #000;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 20px;
    background-color:yellow;
    color: black;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: yellow;
    color: yellow;
    padding: 10px 0;
    margin-top: 160px;
}

footer .container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
}