* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.container-grid {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: yellow;
    height: 60px;
}

.menu-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-left: 100px;
}

.search-box button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 0px;
    cursor: pointer;
}


.menu {
    margin-left: 20px;
}

.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 80px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #333;
    font-size: 24px;
}

.contact-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 3px solid #000;
    border-radius: 10px;
}

label {
    display: block;
    color: #333;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #000;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 20px;
    background-color:yellow;
    color: black;
    border: 10%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: yellow;
    color: yellow;
    padding: 10px 0;
}

footer .container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    text-align: center;
    font-size: 14px;
}