* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-gridposicionamento-header {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header {
    background-color: yellow;
    height: 70px;
    box-shadow: 5px 5px 5px #000;
    margin-bottom: 50px;
}

a img {
    width: 100px;
    height: 100px;
}

.menu-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-left: 20px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-left: 100px;
}

.search-box button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin-left: 150px;
    cursor: pointer;

}

.logo {
    width: 150px;
    padding: 30px;
}
.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.gymselect {
    width: 500px;
    padding: 1%;
    margin-left: 650px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 5px 5px 5px #000;
}

.info {
    width: 500px;
    padding: 1%;
    margin-left: 650px;
    text-align: center;
    box-shadow: 5px 5px 5px #000;
}

.personalinfo {
    width: 500px;
    padding: 1%;
    margin-left: 650px;
    text-align: center;
    box-shadow: 5px 5px 5px #000;
    margin-bottom: 50px;

}
section {
    width: 100%;    
}

section form {
    height: 100%;
    width: 100%;
    color:white;
    min-width: 300px;
    background-color: white;    
}

legend {
    text-align: center;
    font-size: 350%;
    color: #000;
}

label {
    text-align: left;
    color: #000;
    font-size: 20px;
}

.option {
    width: 200px;
    
}

.option1 {
    width: 44%;
}
.agendar {
    align-items: center;
    justify-items: center;
    width: 200px;
    padding: 10px;
}

.termos_condicoes {
    justify-content: center;
    align-items: center;
    
}
footer {
    background-color: yellow;
    color: #000;
    padding: 10px 0;
}

footer .container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

header div a img {
    width: 100px;
    height: 100px;
}

section form img {    
    width: 300px;
    height: 300px;
    margin-left: 45%;    
}
